{% extends "base.html" %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="ratio ratio-16x9 mb-4">
            <video controls>
                <source src="{{ video.video.url }}" type="video/mp4">
                Your browser does not support the video tag. 😢
            </video>
        </div>
        <div class="details">
            <h3>{{ video.title }}</h3>
            <p>{{ video.views }} views</p>
            <p>{{ video.uploaded_at|date:"M d, Y" }}</p>
            <div>👤 {{ video.uploaded_by.username }}</div>
        </div>
    </div>
{% endblock %}